<header>
  <div class="border-bottom  py-3 bg-white">
    <div class="container"> 
      <div class="d-flex flex-column flex-md-row align-items-center  ">
        <span class="fs-4">Phone Book</span>
  
        <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto ">
          <a class="me-3 py-2   text-decoration-none"    routerLinkActive="active" [routerLink]="'/add-phone-book'">Add Contact</a>
         &nbsp;   &nbsp; <a class="me-3 py-2   text-decoration-none"    routerLinkActive="active"  [routerLink]="'/view-phone-book'">View Phone Book</a> 
        </nav>
      </div>
    </div>
  </div>
</header>
